{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Bienvenido, {{current_user.name}}! 

     <!-- Tarjeta de perfil -->
    <div class="card shadow p-4">
        <!-- añadir visitas...-->
        <h3 class="text-center mb-4">Perfil de usuario</h3>

        <form method="POST" action="{{ url_for('cambiar_datos', userid=current_user.id) }}">
            {{ form.hidden_tag() }}
            
            <p>Visitas: {{ current_user.visits }}</p>
            <!-- Nombre de usuario -->
            
            <div class="form-signin">
                <br>
                <label for="floatingName">Nombre de Usuario</label>
                <input class="form-control" name="newname" placeholder="{{current_user.name}}" id="newname">
            </div>

            <div class="form-signin">
                <label for="floatingEmail">Correo electrónico</label>
                <input class="form-control" name="newmail" placeholder="{{current_user.email}}" id="newmail">
            </div>
            
            <button type="submit" class="btn btn-primary ms-2">
                Cambiar
            </button>
        </form>
        
        <hr>

        <!-- Botón cambiar contraseña -->
        <form method="POST" action="{{ url_for('cambiar_password') }}">
            <button type="submit" class="btn btn-danger w-100">
                Cambiar contraseña
            </button>
        </form>

</h1>
{% endblock %}
